<!-- The 'Register' page of the app -->
<!-- This is where users will be able to register an account. -->

{% extends 'layout.html' %}

{% block body %}
    <h1>Register</h1>
    <!-- import the form helpers -->
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <!-- form-group and form-control are bootstrap classes -->
        <div class="row">
            <div class="form-group col-lg-4">
                {{ render_field(form.name, class_="form-control")}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                {{ render_field(form.email, class_="form-control")}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                {{ render_field(form.username, class_="form-control")}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                {{ render_field(form.password, class_="form-control")}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                {{ render_field(form.confirm, class_="form-control")}}
            </div>
        </div>
        <!-- btn btn-primary is a bootstrap class -->
        <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    </form>
{% endblock %}
